<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <center><h1>Signup</h1>
        <form action="/user/signupsend" method="post">
             
            <table>
                <tr>
                    <td><label for="name1">Username:</label></td>
                    <td><input type="text" name="name" id="name1"></td>
                </tr>
                <tr>
                    <td><label for="pass">Password:</label></td>
                    <td><input type="password" name="password" id="pass"></td>
                </tr>

                <tr>
                    <td><button type="submit" value="Signup">Signup</button></td>
                    <td><button type="reset">Clear</button></td>
                </tr>

            </table>

        </form>
    </center>
</body>
</html>